header {
color: #fff;
background-color: #050b46;
padding: 7px
}

lk {
margin: 5px;
padding: 5px;
}

div {
padding: 10px;
}

div .border{
padding: 5px;
}

a {
text-decoration: none; color: #FFF;
}

a:hover {
  text-decoration: none;
  color: #FFF;
}

h2{
color: #fff;
}

h3 {
color: #fff;
}

label {
color: #fff;
}

p {
  word-break:break-all;
}

.bg {
background-color: #050b46;
}