{% extends "base.html" %}

{% block content  %}
<div>
    <div class="container-fluid">
        <form method="post">
            <div class="form-group justify-content-center">
                <div>
                        <p><a>Note text:</a></p>
                        <p><textarea name="note_text" class="col-8"></textarea></p>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary justify-content-center" >Write down!</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}